h1	{
	text-align: center;
	color: lightgoldenrodyellow;
	font-family: Monaco;
	font-size: 300%;
}
h2	{
	text-align: center;
	border-bottom: 6px solid black;
}
body {
	background-color: sienna;
	opacity: 0,6
}
p {
	margin-top: 100px;
	margin-bottom: 50px;
	margin-right: 150px;
	margin-left: 80px;
	background-color: lightblue;
	color: black;
	font-family: Georgia;
	font-size: 160%;
	border-left:6px solid red;
	background-color: lightgrey;
}
div	{
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80; 
}	